<launch>

    <arg name="world"               default="aerolab.world"/>
    <arg name="mode"                default="sitl"/>
    <arg name="description_package" default="sesame_ul_uavs"/>

    <group if="$(eval mode=='sitl')">
        <!-- Launch Gazebo simulation -->
        <rosparam param="/use_sim_time">true</rosparam>
        <node pkg="px4_bringup" type="launch_gzworld.py" name="gazebo_world" output="screen"
        args="-physics=ode -world=$(find sesame_ul_uavs)/worlds/$(arg world) -description_package=$(arg description_package)">
            <rosparam param="sim_origin">[49.62389, -5.9310746.14944, 343.0]</rosparam><!-- [lat,lon,alt] -->
        </node>
    </group>

</launch>
