<?xml version="1.0"?>

<!--
License: Apache 2.0. See LICENSE file in root directory.
Copyright(c) 2017 PAL Robotics, S.L. All Rights Reserved

This is the Gazebo URDF model for the Intel RealSense D435 camera
-->
  
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="gazebo_d435" params="camera_name reference_link topics_ns depth_optical_frame color_optical_frame infrared1_optical_frame infrared2_optical_frame" >

    <!-- Load parameters to model's main link-->
    <xacro:property name="deg_to_rad" value="0.01745329251994329577" />
    <gazebo reference="${reference_link}">
      <self_collide>0</self_collide>
      <enable_wind>0</enable_wind>
      <kinematic>0</kinematic>
      <gravity>1</gravity>
      <!--<mu>1</mu>-->
      <mu2>1</mu2>
      <fdir1>0 0 0</fdir1>
      <!--<slip1>0</slip1>
      <slip2>0</slip2>-->
      <kp>1e+13</kp>
      <kd>1</kd>
      <!--<max_vel>0.01</max_vel>
      <min_depth>0</min_depth>-->
      <!--sensor name="camera" type="camera">
        <camera name="camera">
          <horizontal_fov>${69.4*deg_to_rad}</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
          <lens>
            <intrisics>
              <fx>607.730</fx>
              <fy>606.135</fy>
              <cx>327.861</cx>
              <cy>246.683</cy>
            </intrisics>
          </lens>
        </camera>
        <always_on>1</always_on>
        <update_rate>15</update_rate>
        <visualize>0</visualize>
        <plugin name="${topics_ns}_camera_aligned_depth_to_color_controller" filename="libgazebo_ros_depth_camera.so">
          <robotNamespace>${topics_ns}/camera</robotNamespace>
          <alwaysOn>true</alwaysOn>
          <focalLength>608.6419</focalLength>
          <Cx>327.861</Cx>
          <Cy>246.683</Cy>
          <pointCloudCutoff>0.2</pointCloudCutoff>
          <pointCloudCutoffMax>10.0</pointCloudCutoffMax>
          <updateRate>0</updateRate>
          <cameraName>camera</cameraName>
          <imageTopicName>camera/color/image_raw</imageTopicName>
          <cameraInfoTopicName>camera/color/camera_info</cameraInfoTopicName>
          <depthImageTopicName>camera/aligned_depth_to_color/image_raw</depthImageTopicName>
          <depthImageInfoTopicName>camera/aligned_depth_to_color/camera_info</depthImageInfoTopicName>
          <pointCloudTopicName>camera/color/points</pointCloudTopicName>
          <frameName>${color_optical_frame}</frameName>
          <hackBaseline>0.0</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor-->
      <sensor name="depth" type="depth">
        <camera name="depth">
          <horizontal_fov>${69.4*deg_to_rad}</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.100</stddev>
          </noise>
          <lens>
            <intrisics>
              <fx>607.730</fx>
              <fy>606.135</fy>
              <cx>327.861</cx>
              <cy>246.683</cy>
            </intrisics>
          </lens>
        </camera>
        <always_on>1</always_on>
        <update_rate>15</update_rate>
        <visualize>0</visualize>
        <plugin name="${topics_ns}_camera_depth_controller" filename="libgazebo_ros_depth_camera.so">
          <robotNamespace>${topics_ns}</robotNamespace>
          <alwaysOn>true</alwaysOn>
          <focalLength>608.6419</focalLength>
          <Cx>327.861</Cx>
          <Cy>246.683</Cy>
          <updateRate>0</updateRate>
          <cameraName>camera</cameraName>
          <imageTopicName>color/image_raw</imageTopicName>
          <cameraInfoTopicName>color/camera_info</cameraInfoTopicName>
          <depthImageTopicName>aligned_depth_to_color/image_raw</depthImageTopicName>
          <depthImageInfoTopicName>aligned_depth_to_color/camera_info</depthImageInfoTopicName>
          <pointCloudTopicName>color/points</pointCloudTopicName>
          <useDepth16UC1Format>true</useDepth16UC1Format>
          <!--cameraName>depth</cameraName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${depth_optical_frame}</frameName-->
          <frameName>${color_optical_frame}</frameName>
          <pointCloudCutoff>0.2</pointCloudCutoff>
          <pointCloudCutoffMax>10.0</pointCloudCutoffMax>
          <distortionK1>0.00000001</distortionK1>
          <distortionK2>0.00000001</distortionK2>
          <distortionK3>0.00000001</distortionK3>
          <distortionT1>0.00000001</distortionT1>
          <distortionT2>0.00000001</distortionT2>
        </plugin>
      </sensor>

      <sensor name="infra1" type="camera">
        <camera name="infra1">
          <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>L_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
          <lens>
            <intrisics>
              <fx>347.997</fx>
              <fy>347.997</fy>
              <cx>320.5</cx>
              <cy>240.5</cy>
            </intrisics>
          </lens>
        </camera>
        <always_on>1</always_on>
        <update_rate>45</update_rate>
        <visualize>0</visualize>
        <plugin name="${topics_ns}_camera_ired1_controller" filename="libgazebo_ros_camera.so">
          <robotNamespace>${topics_ns}/camera</robotNamespace>
          <alwaysOn>true</alwaysOn>
          <focalLength>347.997568</focalLength>
          <Cx>320.5</Cx>
          <Cy>240.5</Cy>
          <updateRate>0</updateRate>
          <cameraName>infra1</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${infrared1_optical_frame}</frameName>
          <hackBaseline>0.0</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
      <sensor name="infra2" type="camera">
        <camera name="infra2">
          <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>L_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
          <lens>
            <intrisics>
              <fx>347.997</fx>
              <fy>347.997</fy>
              <cx>320.5</cx>
              <cy>240.5</cy>
            </intrisics>
          </lens>
        </camera>
        <always_on>1</always_on>
        <update_rate>45</update_rate>
        <visualize>0</visualize>
        <plugin name="${topics_ns}_camera_ired2_controller" filename="libgazebo_ros_camera.so">
          <robotNamespace>${topics_ns}/camera</robotNamespace>
          <alwaysOn>true</alwaysOn>
          <focalLength>347.997568</focalLength>
          <Cx>320.5</Cx>
          <Cy>240.5</Cy>
          <updateRate>0</updateRate>
          <cameraName>infra2</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${infrared2_optical_frame}</frameName>
          <hackBaseline>0.0</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
      <!--sensor name="depth" type="depth">
        <camera name="depth">
          <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
          <image>
            <width>848</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.100</stddev>
          </noise>
          <lens>
            <intrisics>
              <fx>427.497</fx>
              <fy>427.497</fy>
              <cx>421.1426</cx>
              <cy>242.906</cy>
            </intrisics>
          </lens>
        </camera>
        <always_on>1</always_on>
        <update_rate>15</update_rate>
        <visualize>0</visualize>
        <plugin name="${topics_ns}_camera_depth_controller" filename="libgazebo_ros_depth_camera.so">
          <robotNamespace>${topics_ns}/camera</robotNamespace>
          <alwaysOn>true</alwaysOn>
          <focalLength>427.497</focalLength>
          <Cx>421.1426</Cx>
          <Cy>242.906</Cy>
          <updateRate>0</updateRate>
          <cameraName>depth</cameraName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${depth_optical_frame}</frameName>
          <pointCloudCutoff>0.2</pointCloudCutoff>
          <pointCloudCutoffMax>10.0</pointCloudCutoffMax>
          <distortionK1>0.00000001</distortionK1>
          <distortionK2>0.00000001</distortionK2>
          <distortionK3>0.00000001</distortionK3>
          <distortionT1>0.00000001</distortionT1>
          <distortionT2>0.00000001</distortionT2>
        </plugin>
      </sensor>
    </gazebo-->

    <!--gazebo>
      <plugin name="${topics_ns}" filename="librealsense_gazebo_plugin.so">
        <prefix>${camera_name}</prefix>
      	<depthUpdateRate>60.0</depthUpdateRate>
      	<colorUpdateRate>60.0</colorUpdateRate>
      	<infraredUpdateRate>60.0</infraredUpdateRate>
      	<depthTopicName>depth/image_raw</depthTopicName>
      	<depthCameraInfoTopicName>depth/camera_info</depthCameraInfoTopicName>
      	<colorTopicName>color/image_raw</colorTopicName>
      	<colorCameraInfoTopicName>color/camera_info</colorCameraInfoTopicName>
      	<infrared1TopicName>infra1/image_raw</infrared1TopicName>
      	<infrared1CameraInfoTopicName>infra1/camera_info</infrared1CameraInfoTopicName>
      	<infrared2TopicName>infra2/image_raw</infrared2TopicName>
      	<infrared2CameraInfoTopicName>infra2/camera_info</infrared2CameraInfoTopicName>
      	<colorOpticalframeName>${color_optical_frame}</colorOpticalframeName>
      	<depthOpticalframeName>${depth_optical_frame}</depthOpticalframeName>
      	<infrared1OpticalframeName>${infrared1_optical_frame}</infrared1OpticalframeName>
      	<infrared2OpticalframeName>${infrared2_optical_frame}</infrared2OpticalframeName>
      	<rangeMinDepth>0.2</rangeMinDepth>
      	<rangeMaxDepth>10.0</rangeMaxDepth>
      	<pointCloud>false</pointCloud>
      	<pointCloudTopicName>depth/points</pointCloudTopicName>
      	<pointCloudCutoff>0.5</pointCloudCutoff>
      </plugin>
    </gazebo-->
    </gazebo>
  </xacro:macro>
</robot>
