<launch>
    <arg name="ns_prefix"                default="uav_"/>
    <arg name="id"                       default="1"/>

    <arg name="ual_server"               default="on"/>
    <arg name="ual_pub_rate"             default="30.0"/>

    <arg name="description_package"      default="sesame_ul_uavs"/>
    <arg name="world_description_package"      default="sesame_ul_uavs"/>
    <arg name="world"                    default="aerolab.world"/>
    <arg name="mode"                     default="sitl"/>
    <arg name="robot_model"              default="spacer5g"/>
    <arg name="color"                    default="Orange"/>
    <arg name="x"                        default="0"/>
    <arg name="y"                        default="0"/>
    <arg name="z"                        default="0.15"/>
    <arg name="yaw"                      default="0"/>

    <arg name="pose_frame_id"            default=""/>
    <arg name="mavros_offboard_rate"     default="30.0"/>
    <arg name="position_th"              default="0.33"/>
    <arg name="orientation_th"           default="0.65"/>
    <arg name="hold_pose_time"           default="3.0"/>
    <arg name="headless"                 default="True"/>


    <include file="$(find sesame_ul_uavs)/launch/includes/start_grvc_world.launch">
        <arg name="description_package"  value="$(arg world_description_package)"/>
        <arg name="world"                value="$(arg world)"/>
        <arg name="mode"                 value="$(arg mode)"/>
        <arg name="headless"             value="$(arg headless)"/>
    </include>

    <include file="$(find sesame_ul_uavs)/launch/includes/spawn_drone.launch">
        <arg name="ns_prefix"            value="$(arg ns_prefix)"/>
        <arg name="id"                   value="$(arg id)"/>
        <arg name="description_package"  value="$(arg description_package)"/>
        <arg name="robot_model"          value="$(arg robot_model)"/>
        <arg name="material"             value="$(arg color)"/>
        <arg name="mode"                 value="$(arg mode)"/>
        <arg name="x"                    value="$(arg x)"/>
        <arg name="y"                    value="$(arg y)"/>
        <arg name="z"                    value="$(arg z)"/>
        <arg name="yaw"                  value="$(arg yaw)"/>

        <arg name="ual_server"           value="$(arg ual_server)"/>
        <arg name="ual_pub_rate"         value="$(arg ual_pub_rate)"/>
        <arg name="pose_frame_id"        value="$(arg pose_frame_id)"/>
        <arg name="mavros_offboard_rate" value="$(arg mavros_offboard_rate)"/>
        <arg name="position_th"          value="$(arg position_th)"/>
        <arg name="orientation_th"       value="$(arg orientation_th)"/>
        <arg name="hold_pose_time"       value="$(arg hold_pose_time)"/>
    </include>

</launch>
